Host github-main
    HostName github.com
    User git
    IdentityFile ~/.ssh/github_main
    IdentitiesOnly yes

Host github-test1
    HostName github.com
    User git
    IdentityFile ~/.ssh/github_test1
    IdentitiesOnly yes

Host ubuntu
    HostName 10.211.55.10
    User parallels
    IdentityFile ~/.ssh/id_ed25519
    IdentitiesOnly yes